/* FONT IMPORTS */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

/* IDs */

#gif-form {
    margin: 20px;
}

#gif-input {
    width: 100%;
}

#add-gif {
    width: 100%;
    margin-bottom: 4px;
    margin-top:18px;
    background-color: white;
    box-shadow: 1px 1px 1px black;
}

#add-gif:hover, #add-gif:active, #add-gif:checked, #add-gif:focus, #add-gif:visited {
    background-color: black;
    color: white;
}

#instructions {
    color:white;
    font-size: 15px;
    margin-bottom:-10px;
}

#topic-div {
    color:white;
    font-size: 12px;
}

#next-button, #prev-button {
    padding: 10px 0 10px 0;
    margin-top: 10px;
    background-color: #eee;
    border: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

#next-button:hover, #prev-button:hover {
    background-color: white;
    color: black;
    border: 1px solid white;
}

/* GLOBAL STYLES */

body {
    text-align: center;
    background-color: black;
    font-family: 'Press Start 2P', cursive;
}

button {
    color: white;
}

/* Classes */

.container {
    background-color: black;
}

.gif-button {
    padding: 10px;
    margin: 20px 10px 0px 10px;
    background-color:black;
    color: white;
    box-shadow: 1px 1px 1px black;
}

.gif-button:hover, .gif-button:active, .gif-button:checked, .gif-button:focus, .gif-button:visited {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.jumbotron {
    margin-top: 20px;
    padding: 10px 0px 10px 0px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.jumbotron h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 225%;
}

.footer {
    color: white;
    padding: 10px;
    font-size: 12px;
    opacity: 0.5;
}

.gif-div {
    border-radius: 10px;
}

.gif-div img {
    border-radius: 10px;
}

.gif-div img:hover {
    border: 2px solid transparent;
}

.rating {
    color: white;
    padding-top: 10px;
    margin-bottom: -10px;
}
